/****************************************************************
* GENERAL                                                       *
/****************************************************************/
.wrap {
    width: 90%;
    max-width: 1020px;
    margin:0 auto;
}

.blue {
    height: 300px;
    padding: 10px;
}


/****************************************************************
* NAV-MOBILE                                                           *
/****************************************************************/

/****************************************************************
* NAV-DESKTOP                                                    *
/****************************************************************/
.nav-desktop {
    height: 80px;
    background-color: #333;
    padding: 0;
}

.site-logo {
    color: #fff;
    line-height: 80px;
}

.nav-desktop .menu-desktop {
    background-color: #333;
    line-height: 80px;
}

.menu > li > a {
    display: inline-block;
}

/****************************************************************
* HERO                                                          *
/****************************************************************/
.hero {
    background-color:#999;
    padding: 80px 0;
    height: 400px; /* ! responsive ... */
}

.button {
    /* display: block; Button will take full width of container */
}
/* Be specific: .success alone wouldn't work*/
.button.success {
    background-color: mediumpurple;
}
/****************************************************************
* MAIN                                                          *
/****************************************************************/
.main {
    padding: 80px 0;
}
/****************************************************************
* FOOTER                                                        *
/****************************************************************/

footer {
    padding: 20px 0 80px 0;
    background-color: #222;
    color: #fff;
}

footer a {
    display: block;
}