/****************************************************************
* variables                                                       *
/****************************************************************/

$grey2: #222;
$grey3: #333;
$o3: rgba( 255, 255, 255, 0.3 );
$o6: rgba( 255, 255, 255, 0.6 );
$o8: rgba( 255, 255, 255, 0.8 );

/****************************************************************
* GENERAL                                                       *
/****************************************************************/
.wrap {
  width: 90%;
  max-width: 1000px;
  margin:0 auto;
}

.blue {
  height: 300px;
  padding: 10px;
}


/****************************************************************
* NAV-MOBILE                                                    *
/****************************************************************/
.title-bar {
  background-color: $grey2;
  height: 60px;
  padding-top: 17px;
}

.off-canvas {
  background-color: $grey2;
  padding: 10px;
}

#menu-mobile a{
  color: $o6;
  font-weight: bold;
  line-height: 2;
  padding: 0;
}

#menu-mobile a:hover {
  color: $o8;
}

/****************************************************************
* NAV-DESKTOP                                                    *
/****************************************************************/
.nav-desktop {
  height: 80px;
  background-color: $grey3;
  padding: 0;
}

.site-logo {
  color: #fff;
  line-height: 80px;
}

.nav-desktop .menu-desktop {
  background-color: transparent;
  line-height: 80px;
}

.nav-desktop .menu > li > a {
  display: inline-block;
  color: white;
  line-height: 80px;
  padding: 0 1em;
}

.nav-desktop .menu > li > a:hover {
  background-color: $o3 /* nice way to manage hover color with opacity */
}
/****************************************************************
* HERO                                                          *
/****************************************************************/
.hero {
  padding: 80px 0;
  height: 400px; /* ! responsive ... */
  /* http://subtlepatterns.com/ */
  background-image: url("../img/pattern.png");
}

.button {
  /* display: block; Button will take full width of container */
}
/* Be specific: .success alone wouldn't work*/
.button.success {
  background-color: mediumpurple;
}
/****************************************************************
* MAIN                                                          *
/****************************************************************/
.main {
  padding: 80px 0;
}
/****************************************************************
* FOOTER                                                        *
/****************************************************************/

footer {
  padding: 20px 0 80px 0;
  background-color: $grey3;
}

footer h4 {
  color: rgba( 255, 255, 255, 0.8 );
  font-size: 20px;
}

footer a {
  display: block;
  color: rgba( 255, 255, 255, 0.6 );
}

footer a:hover {
  color: rgba( 255, 255, 255, 0.8 );
}

footer a span {
  font-weight: bold;
  color: $o3;
}

footer hr {
  border-bottom: 1px solid #0c4d78;
  margin: 10px 0;
}

@media (max-width: 639px ) {
  .nav-desktop {
    display: none;
  }
}